{{ file_managed_by_ansible }}

# 253065 | The RHEL 9 SSH server must be configured to use only DOD-approved encryption ciphers employing FIPS 140-3 validated cryptographic hash algorithms to protect the confidentiality of SSH server connections.
net.ipv4.conf.all.send_redirects = 0
