# allow ansible
allow perm=any trust=1 : dir={{ ansible_env.PWD }}/.ansible/
allow perm=any trust=1 : dir=/root/.ansible/
allow perm=any trust=1 : dir=/tmp/ansible/

# Always final entry to deny all
deny perm=any all : all
