# Tmux configuration created by DISA STIG for RHEL9
## Supplied by ansible-lockdown
## Sponsored by Mindpoint Group - A Tyto Athene Company
{% if rhel_09_412020 %}
# Initiate a session lock
set -g lock-command vlock
bind X lock-session
{% endif %}
{% if rhel_09_412025 %}
# session lock after 15 minutes
set -g lock-after-time 900
{% endif %}
