# Timeout profile script created by DISA STIG for RHEL9
## Supplied by ansible-lockdown
## Sponsored by Mindpoint Group - A Tyto Athene Company
#!/bin/bash

{% if rhel_09_412035 %}
declare -xr TMOUT=600
{% endif %}
