---

- name: HIGH | RHEL-09-0411100 | The root account must be the only account having unrestricted access to RHEL 9 system.
  when:
    - rhel_09_411100
  tags:
    - RHEL-09-411100
    - CAT1
    - CCI-00366
    - SRG-OS-000480-GPOS-00227
    - SV-258059r926164_rule
    - V-258059
    - NIST800-53R4_CM-6
    - account
  vars:
    warn_control_id: "HIGH | RHEL-09-411100"
  block:
    - name: HIGH | RHEL-09-0411100 | AUDIT | The root account must be the only account having unrestricted access to RHEL 9 system.
      ansible.builtin.shell: "cat /etc/passwd | awk -F: '($3 == 0 && $1 != \"root\") {i++;print $1 } END {exit i}'"
      changed_when: false
      check_mode: false
      register: rhel9stig_uid_zero_accounts_except_root

    - name: HIGH | RHEL-09-0411100 | WARN | The root account must be the only account having unrestricted access to RHEL 9 system.
      when:
        - rhel9stig_uid_zero_accounts_except_root is defined
        - rhel9stig_uid_zero_accounts_except_root.stdout | length > 0
      ansible.builtin.debug:
        msg:
          - WARNING!! - The following account(s) should not have a UID of 0 - Please Resolve
          - "{{ rhel9stig_uid_zero_accounts_except_root.stdout }}"

    - name: HIGH | RHEL-09-0411100 | WARN | The root account must be the only account having unrestricted access to RHEL 9 system.
      when:
        - rhel9stig_uid_zero_accounts_except_root is defined
        - rhel9stig_uid_zero_accounts_except_root.stdout | length > 0
      ansible.builtin.import_tasks:
        file: warning_facts.yml

- name: HIGH | RHEL-09-431010 | PATCH | RHEL 9 must use a Linux Security Module configured to enforce limits on system services.
  when:
    - rhel_09_431010
    - rhel9stig_disruption_high
  notify: Change_requires_reboot
  tags:
    - RHEL-09-431010
    - CAT1
    - CCI-01084
    - CCI-02696
    - SRG-OS-000445-GPOS-00199
    - SRG-OS-000134-GPOS-00068
    - SV-258078r926221_rule
    - V-258078
    - NIST800-53R4_SC-3
    - NIST800-53R4_SI-6
    - selinux
  ansible.builtin.lineinfile:
    line: SELINUX=enforcing
    path: /etc/selinux/config
    regexp: (?i)^selinux=
